@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-alert-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: azure;
    width:25%;
    height: 35%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.icon-of-success{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #990000;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    font-size: 45px;
    font-family: verdana;
    text-align: center;

}

.alert-title{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.alert-message{
    font-family: 'Roboto', sans-serif;
    color: rgb(196, 185, 185);
}

.ok-btn{
    width: 20%;
    height: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ok-btn:active{
    transform: scale(0.98);
}

@media screen and (max-width: 790px ) {
    .main-alert-box{
        width : 500px;
    }
}

@media screen and (max-width: 533px ) {
    .main-alert-box{
        width : 300px;
    }
}

@media screen and (max-width: 346px ) {
    .main-alert-box{
        width : 250px;
    }
}

@media screen and (max-height: 661px ) {
    .main-alert-box{
        height : 400px;
    }
    .ok-btn{
        width: 30%;
    }
}